@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SalesOrder</h4>
    <hr />
</div>
<form method="post">
    <h1>Enter an Sales Order</h1>
    <button type="submit" class="btn btn-primary btn-lg" />
</form>
