@page
@model AboutRevisionTwoModel
@{
    ViewData["Title"] = "About Revision Two";
}
<div class="jumbotron shadow p-3 mb-5" style="background-image:url('/images/bg_homepage.jpg'); height:auto;">
    <h2>Demo Company Overview</h2>
    <p class="lead text-break"><b>Revision Two</b> is a fictional company used for demonstrating Acumatica features. The company has multiple lines of business, branches, a European based entity, and several employee personas to demonstrate the full capabilities of Acumatica.</p>
    <br/>
    <h3>Key Statistics</h3>
    <ul>
        <li>Founded: January 2013</li>
        <li>Employees: about 30</li>
        <li>Revenue: ~$20M annually</li>
    </ul>
</div>
<div class="container-fluid p-3 mb-5">
    <h4>Demo Data</h4>
    <p class="text-break">RevisionTwo ERP data is maintained on the <a href="https://sso.acumatica.com/(W(1))/Main?ScreenId=SL000006&PageID=958c3fe4-555c-4883-a849-b2e34c3f85d0" target="_blank">Acumatica Partner Portal.   </a>You must have an authorized partner to access this site.</p>
    <p class="text-break">The data is updated monthly so you always have a current version to demonstrate. As new versions are released, the snapshot will be updated so you can restore the demo data into the latest version of Acumatica ERP that is available for download on the partner portal.</p>
</div>

