@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="jumbotron shadow p-3 mb-5" style="background-image:url('/images/bg_homepage.jpg'); height:400px;">
    <h2>About the Demo Application</h2>
    <br/>
</div>
