@page
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AcuCredential</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AcuCredential.Id" />
            <div class="form-group">
                <label asp-for="AcuCredential.siteUrl" class="control-label"></label>
                <input asp-for="AcuCredential.siteUrl" class="form-control" />
                <span asp-validation-for="AcuCredential.siteUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcuCredential.userName" class="control-label"></label>
                <input asp-for="AcuCredential.userName" class="form-control" />
                <span asp-validation-for="AcuCredential.userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcuCredential.password" class="control-label"></label>
                <input asp-for="AcuCredential.password" class="form-control" />
                <span asp-validation-for="AcuCredential.password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcuCredential.tenant" class="control-label"></label>
                <input asp-for="AcuCredential.tenant" class="form-control" />
                <span asp-validation-for="AcuCredential.tenant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcuCredential.branch" class="control-label"></label>
                <input asp-for="AcuCredential.branch" class="form-control" />
                <span asp-validation-for="AcuCredential.branch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcuCredential.locale" class="control-label"></label>
                <input asp-for="AcuCredential.locale" class="form-control" />
                <span asp-validation-for="AcuCredential.locale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
